* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

header {
  width: 70%;
  height: 15vh;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #BB44BB;
}

.sctn_1 {
  width: 70%;
  height: 50vh;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #bd8e36;
}

.sctn_2 {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  background-color: blue;
}

.div_sctn_2::after {
  content: "";
  display: table;
  clear: both;
}

.box_top {
  width: 100%;
  height: 10vh;
  margin: auto;
  border-radius: 5px;
  background-color: lightblue;
}

.box_left {
  width: 15%;
  height: 50vh;
  margin-top: 60px;
  margin-bottom: 60px;
  float: left;
  border-radius: 5px;
  background-color: lightblue;
}

.box_center {
  width: 60%;
  height: 50vh;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  border-radius: 5px;
  background-color: lightblue;
}

.box_right {
  width: 15%;
  height: 50vh;
  margin-top: 60px;
  margin-bottom: 60px;
  float: left;
  border-radius: 5px;
  background-color: lightblue;
}

footer {
  width: 70%;
  height: 10vh;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: purple;
}
